<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>560405259566-5mdqt51nsj8kefft7009p9g58u6ub8pt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.560405259566-5mdqt51nsj8kefft7009p9g58u6ub8pt</string>
	<key>API_KEY</key>
	<string>AIzaSyDTucoYJDBM0UXw8L0dchBw81tagnj9UKY</string>
	<key>GCM_SENDER_ID</key>
	<string>560405259566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.actualizinginovation.kiptrac</string>
	<key>PROJECT_ID</key>
	<string>kiptrac</string>
	<key>STORAGE_BUCKET</key>
	<string>kiptrac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560405259566:ios:be6f3dcc5084fb11d8c6bf</string>
</dict>
</plist>